.our-advantages {
    padding: 48px 0;
}


.our-advantages__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -.02em;
    margin: 0 0 48px;
    color: #0f1826;
}