.hero {
  background-repeat: no-repeat;
  background-image: url(https://najottalim.uz/_next/static/media/hero-bg.80b5b0ba.png),url(https://najottalim.uz/_next/static/media/bg-hero-illustration.1d0afd66.svg);;
  padding-bottom: 60px;
  background-color: #f1f0ee;
  background-size: 650px 450px,contain;
  background-position: bottom 0 right 27%,calc(50% + 270px) calc(50% + 47px);
}
.hero__inner {
    display: block;
    padding-top: 116px;
}
.hero__wrapper {
    max-width: 325px;
    padding-top: 116px;

}
.hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -.02em;
    color: #000;
    margin: 0 0 19px;
}
.hero__title-job{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 52px;
}
.hero__desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.02em;
    margin: 0 0 70px;
    color: #607987;
}
.button__inner:hover {
    background-color: #fff;
    color: #000;
    font-weight: 900;

}
.button__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #ba8d5b;
    color: #fff;
    border-radius: 100px;
    transition: .3s ease;
}










.hero__bottom {
    display: flex;
    align-items: center;
}
.button {
    display: block;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #ba8d5b;
    color: #fff;
    border-radius: 100px;
    transition: .3s ease;
}