.partners {
    padding: 48px 0;
}
// @media only screen and (max-width: 800px)
// .partners__info {
//     margin-bottom: 28px;
// }

.partners__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
    color: #0f1826;
}

// @media only screen and (max-width: 768px)
// .partners__title {
//     font-weight: 700;
//     font-size: 28px;
//     line-height: 32px;
//     margin-bottom: 16px;
// }

.partners__desc {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #607987;
}

// @media only screen and (max-width: 768px)
// .partners__desc {
//     font-size: 14px;
// }


// @media only screen and (max-width: 560px)
// .partners {
//     padding: 32px 0 0;
// }

.partners {
    padding: 48px 0;
}

// @media only screen and (max-width: 800px)
// .partners__list-mobile {
//     justify-content: center;
//     grid-gap: 22px;
//     gap: 22px;
//     margin-bottom: 28px;
// }

// @media only screen and (max-width: 988px)
// .partners__list-mobile {
//     justify-content: center;
//     grid-gap: 32px;
//     gap: 32px;
//     margin-bottom: 32px;
// }


.partners__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 31px;
    gap: 31px;
}
.partners__item-img {
    display: block;
    width: 136px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: contain;
}
.partners__list-mobile {
    display: flex!important;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 16px;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners__item {
    display: flex;
    justify-content: center;
    min-width: calc(14.2857142857% - 31px);
    max-height: 100px;
    background-color: #f9f8f7;
    border-radius: 8px;
    padding: 16px 12px;
    transition: .3s ease;
    display: block;
    width: 136px;
    height: 68px;
}

.partners__item-img--epam {
    background-image: url(https://najottalim.uz/_next/static/media/logo-epam-active.207e0130.svg);
    filter: grayscale(1);
}
.partners__item-img--itechart {
    background-image: url(https://najottalim.uz/_next/static/media/logo-itechart-active.4581f6ca.svg);
    filter: grayscale(1);
}
.partners__item-img--humo {
    background-image: url(https://najottalim.uz/_next/static/media/logo-humo-avtive.27cb7be3.svg);
    filter: grayscale(1);
}
.partners__item-img--agro {
    background-image: url(https://najottalim.uz/_next/static/media/logo-agro-active.930244da.svg);
    filter: grayscale(1);
}
.partners__item-img--davr {
    background-image: url(https://najottalim.uz/_next/static/media/logo-davr-active.4df919e5.svg);
    filter: grayscale(1);
}
.partners__item-img--texnomart {
    background-image: url(https://najottalim.uz/_next/static/media/logo-texnomart-active.e7d56eb5.svg);
    filter: grayscale(1);
}
.partners__item-img--soliq {
    background-image: url(https://najottalim.uz/_next/static/media/logo-soliq-active.b11f8eef.svg);
    filter: grayscale(1);
}
.partners__item-img--uzcard {
    background-image: url(https://najottalim.uz/_next/static/media/logo-uzcard-active.8d40b858.svg);
    filter: grayscale(1);
}
.partners__item-img {
    display: block;
    width: 136px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: contain;
}

.partners__item-img--mytaxi {
    background-image: url(https://najottalim.uz/_next/static/media/logo-my-taxi-acitve.0c69eef5.svg);
    filter: grayscale(1);
}
.partners__item-img--mfaktor {
    background-image: url(https://najottalim.uz/_next/static/media/logo-mfaktor-active.dcd05beb.svg);
    filter: grayscale(1);
}

.partners__item-img--jafton {
    background-image: url(https://najottalim.uz/_next/static/media/logo-jafton-active.5706e84f.svg);
    filter: grayscale(1);
}
.partners__item-img--fido {
    background-image: url(https://najottalim.uz/_next/static/media/logo-fido.2ef7c3a2.svg);
}




.partners__item-img--ob {
    background-image: url(https://najottalim.uz/_next/static/media/logo-ob-active.bcdff30b.svg);
    filter: grayscale(1);
}
.partners__item-img--islomuz {
    background-image: url(https://najottalim.uz/_next/static/media/logo-islomuz-active.6fd5bef8.svg);
    filter: grayscale(1);
}
.partners__item-img--cambridge {
    background-image: url(https://najottalim.uz/_next/static/media/logo-cambridge-active.81b431ae.svg);
    filter: grayscale(1);
}
.partners__item-img--kunuz {
    background-image: url(https://najottalim.uz/_next/static/media/kunuz-active.10a5ae8e.svg);
    filter: grayscale(1);
}
.partners__item-img--yoshlar {
    background-image: url(https://najottalim.uz/_next/static/media/yoshlar-ishlari-active.25fa6cd8.svg);
    filter: grayscale(1);
}
.partners__item-img--pcg {
    background-image: url(https://najottalim.uz/_next/static/media/pcg-active.19505e54.svg);
    filter: grayscale(1);
}