.partners {
    padding: 48px 0;
}
// @media only screen and (max-width: 800px)
// .partners__info {
//     margin-bottom: 28px;
// }

.partners__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
    color: #0f1826;
}

// @media only screen and (max-width: 768px)
// .partners__title {
//     font-weight: 700;
//     font-size: 28px;
//     line-height: 32px;
//     margin-bottom: 16px;
// }

.partners__desc {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #607987;
}

// @media only screen and (max-width: 768px)
// .partners__desc {
//     font-size: 14px;
// }


// @media only screen and (max-width: 560px)
// .partners {
//     padding: 32px 0 0;
// }

.partners {
    padding: 48px 0;
}

// @media only screen and (max-width: 800px)
// .partners__list-mobile {
//     justify-content: center;
//     grid-gap: 22px;
//     gap: 22px;
//     margin-bottom: 28px;
// }

// @media only screen and (max-width: 988px)
// .partners__list-mobile {
//     justify-content: center;
//     grid-gap: 32px;
//     gap: 32px;
//     margin-bottom: 32px;
// }

.partners__list-mobile {
    display: flex!important;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 16px;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners__item {
    display: flex;
    justify-content: center;
    min-width: calc(14.2857142857% - 31px);
    max-height: 100px;
    background-color: #f9f8f7;
    border-radius: 8px;
    padding: 16px 12px;
    transition: .3s ease;
    display: block;
    width: 136px;
    height: 68px;
}