@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato,sans-serif;
}
.container{
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding: 0 32px;
}

ul{
   list-style:none; 
}
a{
    text-decoration: none;
}